<footer>

  <span class="muted">© {{ site.signoff }}. All Rights Reserved.</span><br>
  <br>
  <img src="{{ site.baseurl }}/images/scribble2.png" alt="scribble" />
  <br>
  
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000437233'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1000437233%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>

  
  <script type='text/javascript'>
(function() {
    var c = document.createElement('script'); 
    c.type = 'text/javascript';
    c.async = true;
    c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/50906';
    var h = document.getElementsByTagName('script')[0];
    h.parentNode.insertBefore(c, h);
})();
</script>
</footer>
